/* define page structure */
#container {
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "top-footer"
    "footer";
    grid-template-rows: minmax(min-content, 100px) auto minmax(min-content, 500px) auto minmax(min-content, 50px);
    grid-template-columns: 1fr;
}
#main {
    background-color: #e3e5e3;
    display: grid;
    grid-area: main;
    grid-template-areas:
    "head head head"
    "col-one col-two col-three";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-top: 1.5vh;
}
#mainHeading {
    grid-area: head;
    text-align: center;
}
#columnOne {
    grid-area: col-one;
}
#columnTwo {
    grid-area: col-two;
}

#columnThree {
    grid-area: col-three;
}
.extra_padding_bottom {
    margin-bottom: 1.2em;
}
#columnThree > p {
    padding-bottom: 0.5em;
}
#columnTwo > p {
    padding-top: 0.7em;
}
.pElementFs {
    font-size: 1.25em;
    font-weight: 400;
    padding-bottom: 0.3em;
}
#columnThree > button {
    padding-left: 2em;
    padding-right: 2em;
}
@media only screen and (max-device-width : 800px) {
    #main {
        grid-template-areas:
        "head head"
        "col-one col-three"
        "col-two col-two";
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr;
    }
    #columnOne, #columnTwo {
        border-bottom-width: thin;
        border-bottom-style: dotted;
        border-color: #bdc2bd;
    }
    .center,#columnTwo, #columnThree {
        text-align: center;
    }
    .pElementFs {
        font-size: 1.25em;
        font-weight: 400;
        padding-bottom: 0.3em;
        padding-top: 0.45em;
    }
}

@media only screen and (max-device-width : 480px) {
    #main {
        grid-template-areas:
        "head"
        "col-one"
        "col-two"
        "col-three";
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
    }
    #columnOne, #columnTwo {
        border-bottom-width: thin;
        border-bottom-style: dotted;
        border-color: #bdc2bd;
    }
    .center,#columnTwo, #columnThree {
        text-align: center;
    }
}
